// color palette - these colors will be the color swatches of the Colors section

$color-1: #031926; // Rich Black FOGRA 29
$color-2: #77aca2; // Green Sheen
$color-3: #468189; // Metallic Seaweed
$color-4: #9dbebb; // Cornflower Blue - Action color
$color-5: #f4e9cd; // Champagne